# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment
.env
.env.*          # 모든 .env.* 파일 무시

# editor & system files
.vscode/
.DS_Store
*.log

# misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# 포트폴리오 제외 파일
/src/assets/profile.jpg
/src/components/About_backup.js
